.first-part {
    background-color: rgb(65, 58, 58);
}

.header-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    color: red;
}

.header-title h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
    font-size: 380%;
}

.header-title p {
    color: white;
    font-size: 100%;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

#img-1 {
    width: 300px;
}

.main-part {
    padding-top: 100px;
}

.player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;

}

.player {
    background-color: lightsalmon;
}

.player-details {
    display: flex;

}

.plyer-images {
    width: 100%;
}

.plyer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.plyer-text button {
    width: 60%;
    font-size: xx-large;
    background-color: green;
    color: white;
}

.info {
    padding-right: 30px;
}

/* Footer part */

.last-part {
    background-color: rgb(49, 45, 45);
    color: white;
    text-align: center;
    padding: 80px;
    margin-top: 50px;
}